<ion-content [fullscreen]="true">
  <div class="flex p-2 mb-4">
    <ion-icon name="chevron-back-outline" class="color-default text-3xl mb-3" (click)="back()"></ion-icon>
    <span class="text-xl color-default m-auto">Akun</span>
  </div>
  <div class="p-4">
    <div class="form-group mb-4">
      <label for="name" class="ml-2 text-black">Nama <sup class="text-red-600">*</sup></label>
      <input type="text"
        class="w-full bg-white border-b border-gray-200 p-2 focus:outline-none focus:ring focus:border-none"
        placeholder="Masukkan teks..." />
    </div>

    <div class="form-group mb-4">
      <label for="name" class="ml-2 text-black">Email <sup class="text-red-600">*</sup></label>
      <input type="text"
        class="w-full bg-white border-b border-gray-200 p-2 focus:outline-none focus:ring focus:border-none"
        placeholder="Masukkan teks..." />
    </div>

    <div class="form-group mb-4">
      <label for="name" class="ml-2 text-black">Nomor ID <sup class="text-red-600">*</sup></label>
      <input type="text"
        class="w-full bg-white border-b border-gray-200 p-2 focus:outline-none focus:ring focus:border-none"
        placeholder="Masukkan teks..." />
    </div>

    <button class="bg-default w-full p-2 rounded-md text-white">Simpan</button>

    <!-- <div class="flex justify-between mb-8">
      <div class="text-white text-xl" (click)="back()">
        Batal
      </div>
      <div class="text-white text-xl" (click)="back()">
        Simpan
      </div>
    </div>
   
    <div class="text-white paragraph-edit-p text-2xl mb-10">
      Ubah Profile
    </div>

    <ion-item class="rounded-full bg-white mb-4">
      <ion-input placeholder="Nama" class="w-full"></ion-input>
    </ion-item>

    <ion-item class="rounded-full bg-white mb-4">
      <ion-input placeholder="Email" class="w-full"></ion-input>
    </ion-item>

    <ion-item class="rounded-full bg-white mb-4">
      <ion-input placeholder="Nomor ID" class="w-full"></ion-input>
    </ion-item>

    <ion-item class="rounded-full bg-white mb-4">
      <ion-input placeholder="Tempat Lahir" class="w-full"></ion-input>
    </ion-item>

    <ion-item class="rounded-full bg-white mb-4" (click)="openModalDate()">
      <ion-label style="color: #726d6d;">Tanggal Lahir</ion-label>
      <ion-icon name="calendar" class="text-gray-400 mr-2"></ion-icon>
    </ion-item> -->
  </div>

</ion-content>