<!-- <ion-header class="bg-default">
  <div color="app-default" class="w-full p-2 flex">
    <ion-title class="text-white text-lg">Schedule</ion-title>
    <ion-icon name="add" slot="icon-only" class="text-white text-2xl mr-2"></ion-icon>
  </div>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div class="p-2">
    <p class="text-center color-default text-md my-4">{{ currentMonthName }}</p>
  
    <swiper-container [slidesPerView]="4" [spaceBetween]="6" [loop]="false" class="p-2" (slidechange)="onSlideChange($event)">
      <swiper-slide [ngClass]="{
        'date-selected': weekData.number === today,
        'date-not-selected': weekData.number !== today
      }" *ngFor="let weekData of weekDatas; let i = index" (click)="selectedDateSchedule(weekData)">
        <p>{{ weekData.day }}</p>
        <p>{{ weekData.number }}</p>
      </swiper-slide>
    </swiper-container>

    <ol class="relative border-l border-gray-200 dark:border-gray-700 m-8">                  
      <li class="mb-10 ml-6">            
          <span class="absolute flex items-center justify-center w-6 h-6 bg-default rounded-full -left-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
          </span>
          <time class="flex items-center block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">09.00 AM - 10.00 AM <span class="bg-default text-white text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-default dark:text-white ml-3">On Going</span></time>
          <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">Flowbite Application UI v2.0.0 </h3>
          <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Get access to over 20+ pages including a dashboard layout, charts, kanban board, calendar, and pre-order E-commerce & Marketing pages.</p>
      </li>
      <li class="mb-10 ml-6">
          <span class="absolute flex items-center justify-center w-6 h-6 bg-slate-300 rounded-full -left-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
          </span>
          <time class="flex items-center block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">11.00 AM - 12.00 PM </time>
          <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">Flowbite Figma v1.3.0</h3>
          <p class="text-base font-normal text-gray-500 dark:text-gray-400">All of the pages and components are first designed in Figma and we keep a parity between the two versions even as we update the project.</p>
      </li>
    </ol>

  </div>
</ion-content>
