<ion-header [translucent]="true" class="bg-default">
  <div class="flex items-center mx-2">
    <ion-icon name="chevron-back-outline" class="text-white text-3xl" (click)="back()"></ion-icon>
    <ion-toolbar color="app-default">
      <ion-title class="text-white text-center text-lg">Rekam Kehadiran</ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">record-attendance</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>